body{
    color: green;
    background: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1cm;
    margin-right: 2cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
}
.kiri{
    padding-top: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
    padding-left: 2cm;
    background-color: #f8f8ff;
}